<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<style>
	*{ font-family: DejaVu Sans; font-size: 12px;}
	body {
		position: relative;
		background-color: #fff;
	}
	table {
		width: 100%;
		text-align: center;
		padding: 10px;
	}
	th {
		background-color: #00a65a;
		color: whitesmoke;
		border-bottom: 1px solid black;
	}
	td {
		border-bottom: 1px solid black;
	}

</style>
<p style="text-align: center">
	{% trans %}Voting report for draft resolution no{% endtrans %} <b>{{ resolutionProject.number }}</b>. {% trans %}Voting deadline {% endtrans %} - {{ resolutionProject.deadline | date('Y-m-d H:i:s') }} <br>
</p>


	{% if verification != null %}
		{% trans %}Voting was successful and resulted in{% endtrans %} : <br>
		{% if verification > 0 %} <u>{% trans %}The resolution was passed{% endtrans %}</u> {% elseif verification < 0 %} <u>{% trans %}The resolution was rejected{% endtrans %}ł </u> {% endif %}

		{% else %}
			{% trans %}The voting was unsuccessful{% endtrans %}.
	{% endif %}

<br>{% trans %}The following votes were issued{% endtrans %}:
	<table>
		<tr>
			<th>
				{% trans %}Vote type{% endtrans %}
			</th>
			<th>
				{% trans %}Time of issuing{% endtrans %}
			</th>
			<th>
				{% trans %}Author{% endtrans %}
			</th>
			<th>
				{% trans %}Function{% endtrans %}
			</th>
			<th>
				{% trans %}Author IP{% endtrans %}
			</th>
		</tr>
		{% for vote in votes %}
			<tr>
				<td> {{ vote.voteType.type }}</td>
				<td> {{ vote.timestamp | date('Y-m-d h:i:s') }}</td>
				<td> {{ vote.voteAuthor.lastName }}</td>
				<td> {{ vote.voteAuthor.function.name }}</td>
				<td> {{ vote.ip }}</td>
			</tr>
		{% endfor %}
	</table>
		{% trans %}Comments{% endtrans %} :<br/>
		<table>
			<tr>
				<th>
					{% trans %}Time of issuing{% endtrans %}
				</th>
				<th>
					{% trans %}Content{% endtrans %}
				</th>
				<th>
					{% trans %}Author{% endtrans %}
				</th>
			</tr>
			{% for comment in comments %}
			<tr>
				<td>{{ comment.createdAt |date('Y-m-d H:i:s') }}</td>
				<td>{{ comment.content }}</td>
				<td>{{ comment.commentAuthor.name }}</td>
			</tr>
			{% endfor %}
		</table>



